<div>
	<div class="container">
		<div class="logDiv">
			<form class="form-auth" ng-submit="changePassword()">
	        	<h2>Change Password</h2>
	        	<p style="color:red">{{fail_message}}</p>
	        	<p class="text-warning">{{error_message}}</p>
	       		 
				<lable>Old Password:</lable>
	       		<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
	       		<lable>New Password:</lable>
	       		<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
	       		<lable>Confirm Password:</lable>
	       		<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
	        	<input type="submit" value="Submit" class="btn btn-primary" />
	      </form>
		</div>
	</div>
</div>